<div class="container mt-3">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h1><%= @restaurant.name %> Head Chef</h1>
      <article>
        <h2><%= @chef_name %></h2>
      </article>
    </div>
  </div>
</div>
